[submodule "SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git

[submodule "SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git

[submodule "SDL_net"]
	path = external/SDL_net
	url = https://github.com/libsdl-org/SDL_net.git

[submodule "SDL_mixer"]
	path = external/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git

[submodule "SDL_image"]
	path = external/SDL_image
	url = https://github.com/libsdl-org/SDL.git

[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git

[submodule "tree.hh"]
	path = external/tree.hh
	url = https://github.com/kpeeters/tree.hh.git

