[submodule "exernal/SDL"]
	path = exernal/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "exernal/SDL_image"]
	path = exernal/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "exernal/SDL_net"]
	path = exernal/SDL_net
	url = https://github.com/libsdl-org/SDL_net.git
[submodule "exernal/SDL_ttf"]
	path = exernal/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "exernal/SDL_mixer"]
	path = exernal/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/boost/math"]
	path = external/boost/math
	url = https://github.com/boostorg/math.git
